@model List<Ogrenci>
<h1> Öğrenci Listesi</h1>

@if(TempData["mesaj"]!=null)
{
    <div class="alert alert-success text-center"> @TempData["mesaj"] isimli öğrenci eklendi</div>
}
@if (TempData["silinen"] != null)
{
    <div class="alert alert-danger text-center"> @TempData["silinen"] isimli öğrenci silindi</div>
}
<a class="btn btn-success" href="/ogrenci/ekle">Yeni Öğrenci</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sıra No</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Numara</th>
            <th scope="col">Sınıf</th>
            <th scope="col">Bölüm</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody class="bg-info">
        @{
            int siraNo = 1;
        }

        @foreach (Ogrenci eleman in Model)
        {
            <tr>
                <td>@(siraNo++)</td>
                <td>@eleman.Ad</td>
                <td>@eleman.Soyad</td>
                <td>@eleman.Numara</td>
                <td>@eleman.Sinif</td>
                <td>@eleman.Bolum</td>
                <td><a href="/ogrenci/sil/@eleman.Id"><img src="/icons/recyclebin-icon.png"/></a></td>
            </tr>
        }
    </tbody>
</table>