<h1> Burası Index sayfası</h1>

<a class="btn btn-success" href="/ogrenci/ekle">Yeni Öğrenci</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sıra No</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Numara</th>
            <th scope="col">Sınıf</th>
        </tr>
    </thead>
    <tbody class="bg-info">
        @{
            int siraNo = 1;
        }

        @foreach (DB_ogrenci ogrenci in ViewBag.ogrenciListesi)
        {
            <tr>
                <td>@(siraNo++)</td>
                <td>@ogrenci.Ad</td>
                <td>@ogrenci.Soyad</td>
                <td>@ogrenci.Numara</td>
                <td>@ogrenci.Sinif</td>
            </tr>
        }
    </tbody>
</table>